.main-app {
  text-align: center;

  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(254, 254, 254, 0.1)
    ),
    url("./images/pexels-brotin-biswas-518543.jpg") center/cover no-repeat;
  width: 100%;
  min-height: 120vh;
  font-family: "Quantico", sans-serif;
}

/* NAV START */

.nav-container {
  width: 100%;
  height: 15%;
  background-color: rgb(11, 9, 10);
  color: rgb(245, 243, 244);
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgb(245, 243, 244);
  z-index: 2;
  align-items: center;
  justify-content: space-around;
}

.nav-logo {
  background-color: rgb(72, 202, 228);
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  padding: 0.2rem;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.nav-logo:hover {
  transform: scale(1.2);
}

.nav-link {
  text-decoration: none;
  color: rgb(245, 243, 244);
  font-size: 0px;
}

.nav-title {
  padding: 3px;
}

@media screen and (min-width: 600px) {
  .nav-link {
    font-size: 0px;
  }
  .nav-title {
    padding: 10px;
    font-size: 30px;
  }
  .nav-logo {
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .nav-title {
    padding: 100px;
    font-size: 50px;
  }
  .nav-logo {
    height: 4rem;
    width: 4rem;
  }
}

/* NAV END */

/* HOMEPAGE START */

.homepage-header {
  margin-top: 112px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(11, 9, 10);
  border-radius: 30px;
}

.homepage-title {
  color: rgb(72, 202, 228);
  margin: auto;
  border-radius: 15px;
  font-size: 44px;
  font-weight: 1000;
}

.homepage-subtitle {
  color: rgb(245, 243, 244);
}

.homepage-desc {
  color: rgb(11, 9, 10);
  background-color: rgb(1245, 243, 244);
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
}

.homepage-article {
  background-color: rgb(11, 9, 10);
  padding: 5px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 30px 30px 30px 30px;
  grid-template-areas:
    "title title"
    "topic author"
    "votes comments"
    "posted posted";
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.homepage-article-title {
  justify-self: center;
  grid-area: title;
  color: rgb(72, 202, 228);
  align-self: center;
  font-size: 14px;
}

.homepage-article-topic {
  justify-self: center;
  align-self: center;
  grid-area: topic;
  color: rgb(72, 202, 228);
  margin: 10px;
  font-size: 12px;
}

.homepage-article-author {
  justify-self: center;
  grid-area: author;
  color: rgb(72, 202, 228);
  align-self: center;
  font-size: 12px;
}

.homepage-article-votes {
  grid-area: votes;
  color: rgb(72, 202, 228);
  align-self: center;
  font-size: 12px;
  justify-self: center;
}

.homepage-article-comments {
  grid-area: comments;
  color: rgb(72, 202, 228);
  align-self: center;
  font-size: 12px;
  justify-self: center;
}

.homepage-article-posted {
  justify-self: end;
  grid-area: posted;
  color: rgb(72, 202, 228);
  align-self: center;
  margin: 10px;
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  .homepage-section {
    margin: 100px 80px;
  }
}
/* HOMEPAGE END */

/* TOPICS START */

.topic {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(11, 9, 10);
  border-radius: 30px;
}

.topics-title {
  color: rgb(72, 202, 228);
  margin: 30px 0px;
  border-radius: 15px;
  font-size: 44px;
  font-weight: 1000;
}

.topic-slug {
  color: rgb(72, 202, 228);
  margin: auto;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 1000;
}

.topic-desc {
  color: rgb(72, 202, 228);
  margin: auto;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 1000;
}

/* TOPICS END */

/* ARTICLES START */

.articles-title {
  font-size: 40px;
  color: rgb(72, 202, 228);
}

.homepage-article-body {
  color: green;
}
/* ARTICLES END */

/* ACCOUNT START */

.account-title {
  font-size: 40px;
  color: rgb(72, 202, 228);
}

.account-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(11, 9, 10);
  border-radius: 30px;
}

.account-info {
  color: rgb(72, 202, 228);
  margin: auto;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 1000;
}

/* ACCOUNT END */
