.main-app {
  text-align: center;

  background: linear-gradient(
      rgba(255, 255, 255, 0.365),
      rgba(255, 255, 255, 0.673)
    ),
    url("./images/pexels-brotin-biswas-518543.jpg") center/cover no-repeat;
  width: 100%;
  min-height: 120vh;
  font-family: "Quantico", sans-serif;
}

/* NAV START */

.nav-container {
  width: 100%;
  height: 15%;
  background-color: rgb(40, 34, 37);
  color: rgb(245, 243, 244);
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgb(245, 243, 244);
  z-index: 2;
  align-items: center;
  justify-content: space-around;
}

.nav-logo {
  background-color: rgb(72, 202, 228);
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  padding: 0.2rem;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.nav-logo:hover {
  transform: scale(1.2);
}

.nav-link {
  text-decoration: none;
  color: rgb(245, 243, 244);
  font-size: 0px;
}

.nav-title {
  padding: 3px;
}

@media screen and (min-width: 600px) {
  .nav-link {
    font-size: 0px;
  }
  .nav-title {
    padding: 10px;
    font-size: 30px;
  }
  .nav-logo {
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .nav-title {
    padding: 100px;
    font-size: 50px;
  }
  .nav-logo {
    height: 4rem;
    width: 4rem;
  }
}

/* NAV END */

/* HOMEPAGE START */

.homepage-header {
  margin-top: 112px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  border: 5px rgb(72, 202, 228) solid;
}

.homepage-title {
  color: rgb(40, 34, 37);
  margin: auto;
  border-radius: 15px;
  font-size: 44px;
  font-weight: 1000;
}

.homepage-subtitle {
  color: rgb(40, 34, 37);
}

.homepage-desc {
  padding: 10px;
  font-size: 16px;
}

.homepage-article {
  padding: 5px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 200px 110px;
  grid-template-rows: 120px 50px 50px;
  grid-template-areas:
    "title topic"
    "author comments"
    "votes posted";
  margin: 20px;
  align-items: center;
  justify-content: center;
  border: 5px rgb(40, 34, 37) solid;
}

.homepage-article-title {
  grid-area: title;
  color: rgb(40, 34, 37);
  /* align-self: center; */
  font-size: 14px;
  display: flex;
  /* align-items: center; */

  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 5px;
}

.homepage-article-title:hover {
  transform: scale(1.2);
}

.homepage-article-topic {
  justify-self: center;
  align-self: center;
  grid-area: topic;
  color: rgb(40, 34, 37);
  margin: 10px;
  font-size: 14px;
  padding: 20px;
}

.homepage-article-author {
  justify-self: center;
  grid-area: author;
  color: rgb(40, 34, 37);
  align-self: center;
  font-size: 12px;
  text-decoration: none;
}
.homepage-article-author:hover {
  transform: scale(1.2);
}

.vote-display {
  grid-area: votes;
  color: rgb(40, 34, 37);

  font-size: 12px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homepage-article-comments {
  grid-area: comments;
  color: rgb(40, 34, 37);
  align-self: center;
  font-size: 12px;
  justify-self: center;
}

.homepage-article-posted {
  justify-self: end;
  grid-area: posted;
  color: rgb(40, 34, 37);
  align-self: center;
  margin: 10px;
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  .homepage-section {
    margin: 100px 80px;
  }
}
/* HOMEPAGE END */

/* TOPICS START */

.topic {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  border: 5px rgb(72, 202, 228) solid;
}

.topics-title {
  color: rgb(40, 34, 37);
  margin: 30px 0px;
  border-radius: 15px;
  font-size: 44px;
  font-weight: 1000;
}

.topic-slug {
  color: rgb(40, 34, 37);
  margin: auto;
  border-radius: 15px;
  font-size: 35px;
  font-weight: 1000;
  padding: 20px;
}

.topic-desc {
  color: rgb(40, 34, 37);
  margin: auto;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 1000;
  padding: 0px 20px 20px 20px;
}

/* TOPICS END */

/* ARTICLES START */

.articles-title {
  font-size: 40px;
  color: rgb(40, 34, 37);
}

.articles-form {
  border: 5px rgb(72, 202, 228) solid;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 30px 30px 30px;
  grid-template-areas:
    "topic topic-input"
    "category category-input"
    "order order-input";
  align-items: center;
  justify-content: center;
}

.articles-form-topic {
  grid-area: topic;
}

.articles-form-topic-input {
  grid-area: topic-input;
  border-radius: 5px;
  background-color: rgb(72, 202, 228);
  border: 2px black solid;
  width: 120px;
  height: 30px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
}

.articles-form-category {
  grid-area: category;
}

.articles-form-category-input {
  grid-area: category-input;
  border-radius: 5px;
  background-color: rgb(72, 202, 228);
  border: 2px black solid;
  width: 120px;
  height: 30px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
}

.articles-form-order {
  grid-area: order;
}

.articles-form-order-input {
  grid-area: order-input;
  border-radius: 5px;
  background-color: rgb(72, 202, 228);
  border: 2px rgb(40, 34, 37) solid;
  width: 120px;
  height: 30px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
}

/* ARTICLES END */

/* SINGLE ARTICLE START */

.single-article {
  border: 5px rgb(72, 202, 228) solid;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}

.single-article-title {
  font-size: 20px;
  color: rgb(40, 34, 37);
}

.single-article-author {
  font-size: 14px;
  color: rgb(40, 34, 37);
}

.single-article-topic {
  font-size: 14px;
  color: rgb(40, 34, 37);
}

.single-article-body {
  font-size: 12px;
  color: rgb(40, 34, 37);
  padding: 10px;
}

.single-article-comments {
  font-size: 14px;
  color: rgb(40, 34, 37);
}

.single-article-votes {
  font-size: 14px;
  color: rgb(40, 34, 37);
}

.single-article-posted {
  font-size: 12px;
  color: rgb(40, 34, 37);
}

/* SINGLE ARTICLE END */

/* SINGLE ARTICLE POST START */

.post-comment-form {
  border: 3px rgb(40, 34, 37) solid;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  padding: 20px;
}

.post-comment-input {
  grid-area: topic-input;
  border-radius: 5px;
  background-color: rgb(72, 202, 228);
  border: 2px black solid;
  width: 200px;
  height: 100px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
}

.post-comment-submit {
  color: rgb(72, 202, 228);
  grid-area: topic-input;
  border-radius: 5px;
  background-color: black;
  border: 2px rgb(72, 202, 228) solid;
  width: 200px;
  height: 40px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
  font-size: 14px;
}

.post-comment-submit:hover {
  transform: scale(1.2);
}

/* SINGLE ARTICLE POST START */

/* SINGLE ARTICLE COMMENTS START */

.article-comment {
  border: 3px rgb(40, 34, 37) solid;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}

.article-comment-author {
  font-size: 12px;
  color: rgb(40, 34, 37);
}

.article-comment-body {
  font-size: 10px;
  color: rgb(40, 34, 37);
  padding: 10px;
}

.article-comment-votes {
  font-size: 10px;
  color: rgb(40, 34, 37);
}

.article-comment-posted {
  font-size: 10px;
  color: rgb(40, 34, 37);
}

.comment-delete {
  color: rgb(72, 202, 228);
  grid-area: topic-input;
  border-radius: 5px;
  background-color: black;
  border: 2px rgb(72, 202, 228) solid;
  width: 120px;
  height: 25px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
  font-size: 12px;
}

.comment-delete:hover {
  transform: scale(1.2);
}

/* SINGLE ARTICLE COMMENTS END */

/* USER START */

.user-title {
  font-size: 40px;
  color: rgb(40, 34, 37);
}

.user-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  background-color: rgb(72, 202, 228);
  border-radius: 30px;
}

.user-name {
  color: rgb(40, 34, 37);
  margin: 10px;
  border-radius: 15px;
  font-size: 35px;
  font-weight: 1000;
}

.user-username {
  color: rgb(40, 34, 37);
  margin: 10px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 1000;
  font-style: italic;
}

.user-avatar {
  border-radius: 15px;
  width: 155px;
  height: 155px;
}

.user-articles {
  border: 3px rgb(40, 34, 37) solid;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}

.user-article-title {
  text-decoration: none;
  font-size: 12px;
  color: rgb(40, 34, 37);
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.user-article-title:hover {
  transform: scale(1.2);
}

/* USER END */

/* LOGIN START */

.login-form {
  border: 5px rgb(72, 202, 228) solid;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 30px 30px 30px;
  grid-template-areas:
    "topic topic-input"
    "category category-input"
    "order order-input";
  align-items: center;
  justify-content: center;
}

.login-title {
  font-size: 40px;
}

.login-form-input {
  grid-area: topic-input;
  border-radius: 5px;
  background-color: rgb(72, 202, 228);
  border: 2px black solid;
  width: 220px;
  height: 30px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
}

/* LOGIN END */

/* SIGNUP START */

.signup-form {
  border: 5px rgb(72, 202, 228) solid;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 30px 30px 30px;
  grid-template-areas:
    "topic topic-input"
    "category category-input"
    "order order-input";
  align-items: center;
  justify-content: center;
}

.signup-title {
  font-size: 40px;
}

.signup-form-input {
  grid-area: topic-input;
  border-radius: 5px;
  background-color: rgb(72, 202, 228);
  border: 2px black solid;
  width: 220px;
  height: 30px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
}

.signup-form-submit,
.login-form-submit {
  color: rgb(72, 202, 228);
  grid-area: topic-input;
  border-radius: 5px;
  background-color: black;
  border: 2px rgb(72, 202, 228) solid;
  width: 100px;
  height: 40px;
  margin: 10px;
  font-family: "Quantico", sans-serif;
  font-size: 20px;
}

.signup-form-submit:hover,
.login-form-submit:hover {
  transform: scale(1.2);
}

/* SIGNUP END */

/* VOTE BUTTON START */

.negative-button {
  background-color: rgb(72, 202, 228);
  border-radius: 50%;
  border: 3px rgb(72, 202, 228) solid;
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: 1000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.positive-button {
  background-color: rgb(72, 202, 228);
  border-radius: 50%;
  border: 3px rgb(72, 202, 228) solid;
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: 1000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.negative-button:hover {
  transform: scale(1.3);
}

.positive-button:hover {
  transform: scale(1.3);
}

/* VOTE BUTTON END */

/* GENERAL SCREEN QUERY START */

@media screen and (min-width: 600px) {
  .single-article,
  .topics-container,
  .articles-container,
  .signup-container,
  .login-container,
  .account {
    margin-top: 60px;
  }
  .account,
  .signup-container,
  .login-container,
  .topics-container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .user-container,
  .user-articles {
    margin-left: 350px;
    margin-right: 350px;
  }
  .homepage-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1500px;
    justify-content: center;
  }
  .homepage-article {
    width: 400px;
  }
}

/* GENERAL SCREEN QUERY END */
